body {
	font-family: 'Arimo', sans-serif;
	background-color: #1f272d;
	box-sizing: border-box; 
}
button {
	padding: 10px 40px;
	border: none;
	background-color: orange;
	border-radius: 20px;
	margin-left: 10px;
}
#wrapper {
	display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;	
}
.card {
	color: #fff;  
	margin: 20px 20px 20px 40px;
	padding: 10px;
 	width: 30%;
	 
}
.card img {
	width: 40%;
}
.card span {
	color: orange;
	font-size: 40px;
}
.forms {
	margin: 20px;
}
.input {
	display: flex;
	justify-content: flex-start;
    flex-direction: row;
}
.input input {
	border-radius: 10px;
	border: solid 1px black;
}

